<footer>
  <ul class="list-unstyled">
   <li>
    <a href="javascript:void(0)" id="about-us">About us</a>
  </li>
  <li>
    <a href="#">FAQ </a>
  </li>
  <li>
    <a href="https://instabuyback.com/page/privacy" target="_blank" >Terms and Conditions</a>
  </li>
  <li>
    <a href="https://instabuyback.com/page/privacy" target="_blank" >Privacy</a>
  </li>
  <li>
    <a href="mailto:customerservice@instabuyback.com">Contact Us</a>
  </li>
</ul>
<div class="clearfix"></div>
<p class="copyright">
 ©2016 InstaBuyBack. All rights reserved.
</p>
</footer>
