body{
  font-family: Dosis, Arial, sans-serif;  
  color: #717175;
  font-size: 27px;
  overflow-x: hidden;
}


header{margin-top: 10px;}
.green{color: #96be12}
.btn-primary{background: #96be12 !important; border: 1px solid #96be12;}
.btn-primary:hover, .btn-primary:visited, .btn-primary:focus, .btn-primary:active, .btn-primary.disabled{background: #727276;}
.sign-in{padding-top: 5px;}

.navbar-default{
  background: transparent;
  border: none;
}

section.top-header{float: left; 
  opacity: 0.8; 
  width: 100%; 
  height: 100%; 
  float: left;
/*  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#FAFEFF,#96be12);
    opacity: .3;
  }*/

}
.mobile-mg{margin-top: 70px; z-index: 10;}
h1{color: #96be12; font-weight: bolder; font-size: 60px;}
h2{font-size: 50px;}
h3{font-size: 40px;}
h4{font-size: 30px;}
div.dropdown-menu{min-width: 300px; padding: 20px;}
.text-header-content{margin-top: 200px;}
.text-header-content h2{margin-top: 5px;}
.text-header-content h1{margin-top: 2px;}
.footer-of-header{background: #c5c5c4; opacity: 0.3; width: 100%; height: 100px; margin-top: -80px;}
/*.form-group .form-control*/
.input{background: #c5c5c4;}

.form-control:focus{
  border-color: #98bf11;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.radius{border-radius: 20px; -webkit-border-radius: 20px;}
.grey{background: #c5c5c4;}
.custom-group input{width: 70% !important; float: left; border-radius: 20px; background: #c5c5c4;}
span.input-group-btn{z-index: -1}
.btn-subscribe{
	margin-left: -100px;
  border: 0;
  width: 75px;
  padding-left: 20px;
  background: #96be12;
  color: #fff; font-size: 20px;
  border-radius: 20px;
}
.howitworks {margin-top: 50px;}
.howitworks img{width: 200px; height: 250px; margin: auto;}
.chevron{width: 50px; float: left; font-size: 50px; color: #96be12; margin-top: 100px; margin-left: 20px;}
.started{margin-bottom: 50px;}
.biller-sec{background: #ebebeb;}
.billers{margin-bottom: 50px; margin-top: 50px;}
.btn-gray{padding: 20px;}
.title{font-weight: bolder; font-size: 25px;}
.how-it-works-content{margin-top: 10px;}
.increase{font-size: 25px;}
.btn-pay img{width: 75%;}
.customers-text{margin-top: 100px;}
.box-checklist{margin-top: 50px;}
.contact-us-btn{margin-top: 50px; margin-bottom: 75px !important;}
.stores h3:first{margin-top: 50px; margin-bottom: 50px !important;}
.join{font-size: 30px;}
.img-logo-text{width: 150px; margin-top: -10px; margin-right: 10px}
.bit-buyyers {margin-top: 50px;}
.bit-buyyers img:last{with: 400px;}
.img-market{height: 300px;}
.market{margin-top: 50px;}
.market-text{padding-top:100px;}
.market i{margin-left: 5px;}
.btn-width{width: 200px; font-size: 25px;}
section.questions{border-top: 5px solid #96be12;}
.questions h3 {font-weight: bold; margin-top: 50px; font-size: 50px;}
.title-accordion{width: 100%; background: #96be12; color: white; padding-left: 10px; margin-top: 20px; cursor: pointer;}
.detail-accordion{background: #717175; color: white; padding: 10px; display: none;}
.questions{margin-bottom: 50px;}
.no-padding{padding: 0px !important;}
footer{margin-top: 50px !important; padding: 20px 0px 20px 0px;}
footer{background: #595658; min-height: 100px; padding-top: 20px;}
footer { width: 100%; overflow: hidden; }
footer ul { list-style: none; position: relative; float: left; display: block; left: 50%; }
footer ul li { position: relative; float: left; display: block; right: 50%; margin-left:30px;}
.copyright{color: #fff;}
footer p{text-align: center; margin-top: 10px;}
footer ul li a{color: #fff !important;}
span.input-group-btn{cursor: pointer;}
.form-control:focus{color:#96be12; background: #fff;}
.sign-in{margin-left: 10px;}